<!DOCTYPE html>
<html lang="en-us">

<style>



</style>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home Page</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container text-center">
        <h1 class="jumbotron">Mission to Mars</h1>
        <a href="/scrape" class="button">Scrape New Data</a>
        <div style="padding: 25px; font-size: 200%;" >Featured Mars Image</div>
            <img alt = "mars image" src = {{mars.featured_image}} style="width:95%;"> 
        </div>
    </div>

    <div class="row">
        <div class = "col-md-6">
            <div class="container text-left" style="width:500px; padding:20px;">
                <h2 style="padding: 10px; font-size: 200%; display: inline-block;">Latest Mars News</h2>
                <h2 style="padding: 5px; font-size: 120%; display: inline-block;">{{mars.news_title}}</h2>
                <h2 style="padding: 2px; font-size: 90%; display: inline-block;">{{mars.news_p}}</h2>
            </div>
        </div>
        <div class = "col-md-6">
            <div class="container text-right" style="width:500px; padding:20px;">
                <h2 style="padding: 10px; font-size: 200%;">Current Weather on Mars</h2>
                <h2 style="padding: 5px; font-size: 120%;">{{mars.weather}}</h2>
            </div>
        </div>
    </div>

    <div class="container align-center">
        <div class="text align-center" style="padding:15px;font-size: 200%;">Mars Fun Facts</div>
            <!-- {{mars.facts}} was having formatting problems importing this one straight from db, but data wouldn't really change with scrape?-->
            <table border="1" class="dataframe">
                <thead>
                    <tr style="text-align: right;">
                        <th></th>
                        <th></th>
                        <th>value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>0</th>
                        <td>Equatorial Diameter:</td>
                        <td>6,792 km\\n</td>
                    </tr>
                    <tr>
                        <th>1</th>
                        <td>Polar Diameter:</td>
                        <td>6,752 km\\n</td>
                    </tr>
                    <tr>
                        <th>2</th>
                        <td>Mass:</td>
                        <td>6.42 x 10^23 kg (10.7% Earth)</td>
                    </tr>
                    <tr>
                        <th>3</th>
                        <td>Moons:</td>
                        <td>2 (Phobos &amp; Deimos)</td>
                    </tr>
                    <tr>
                        <th>4</th>
                        <td>Orbit Distance:</td>
                        <td>227,943,824 km (1.52 AU)</td>
                    </tr>
                    <tr>
                        <th>5</th>
                        <td>Orbit Period:</td>
                        <td>687 days (1.9 years)\\n</td>
                    </tr>
                    <tr>
                        <th>6</th>
                        <td>Surface Temperature:</td>
                        <td>-153 to 20 °C</td>
                    </tr>
                    <tr>
                        <th>7</th>
                        <td>First Record:</td>
                        <td>2nd millennium BC</td>
                    </tr>
                    <tr>
                        <th>8</th>
                        <td>Recorded By:</td>
                        <td>Egyptian astronomers</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="text align-center" style: "padding:25px;">----</div>
    <div class="row">
        <div class = "col-md-6">
            <div style="padding: 10px; font-size: 120%;" >{{mars.hemispheres[0].title}}</div>
                <img alt = "mars image" src = {{mars.hemispheres[0].img_url}} style="width:450px"> 
            </div>
        </div>
        <div class = "col-md-6" >
            <div style="padding: 10px; font-size: 120%;" >{{mars.hemispheres[1].title}}</div>
                <img alt = "mars image" src = {{mars.hemispheres[1].img_url}} style="width:450px"> 
            </div>
        </div>
    </div>
    <div class="row">
         <div class = "col-md-6">
            <div style="padding: 10px; font-size: 120%;" >{{mars.hemispheres[2].title}}</div>
                <img alt = "mars image" src = {{mars.hemispheres[2].img_url}} style="width:450px"> 
            </div>
        </div>
        <div class = "col-md-6">
                <div style="padding: 10px; font-size: 120%;" >{{mars.hemispheres[3].title}}</div>
                    <img alt = "mars image" src = {{mars.hemispheres[3].img_url}} style="width:450px"> 
                </div>
            </div>
        </div>


</body>

</html>